*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 300px;
    height: 500px;
    margin: 120px auto;
}

.header{
    height: 40px;
    background-color: green;
    display: flex;
    flex-direction: row;
    
    
}

.left{
    height: 40px;
    width: 80px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right{
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-1{
    height: 40px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-2{
    display: flex;
    flex-direction: row;

}

.s1{
    height: 40px;
    width: 34%;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s2{
    height: 40px;
    width: 33%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s3{

    
    height: 40px;
    width: 33%;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-3{
    display: flex;
    flex-direction: row;
}

.Left{
    height: 200px;
    width: 70%;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Right{
    height: 200px;
    width: 30%;
    background-color:greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    height: 40px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

